# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Uploaded Files
uploads/

# Reports
reports/

# ML Models
models/

# Jupyter
.ipynb_checkpoints/

# Generated / Temporary Files
*.tmp
*.log

# Operating System
.DS_Store
Thumbs.db