# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment Variables
.env

# Uploaded Files
uploads/

# Reports
reports/

# ML Models
models/

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db